Source: gateone
Section: net
Priority: optional
Maintainer: NAStools <dev@nas.tools>
Build-Depends: debhelper (>= 9), dh-virtualenv, dh-python, python3,
               python3-setuptools
Standards-Version: 3.9.5
Homepage: https://github.com/nastools/gateone
Vcs-Git: git://github.com/nastools/gateone.git
Vcs-Browser: https://github.com/nastools/gateone

Package: nastools-gateone
Architecture: any
Depends: readynasos (>= 6.6.0), python3, dtach, libapache2-mod-proxy-wstunnel,
         ${shlibs:Depends}, ${misc:Depends}
Description: HTML5 web-based terminal emulator and SSH client
 Gate One is an open source, web-based terminal emulator with a powerful plugin
 system. It comes bundled with a plugin that turns Gate One into an amazing SSH
 client but Gate One can actually be used to run any terminal application. You
 can even embed Gate One into other applications to provide an interface into
 serial consoles, virtual servers, or anything you like. It's a great supplement
 to any web-based administration interface.
 .
 Gate One works in any browser that supports WebSockets. No browser plugins
 required!
